<h1 mat-dialog-title style="text-align: center">Редактировать пользователя</h1>
<form [formGroup]="form" (ngSubmit)="updateUser()">
  <div mat-dialog-content fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap.xs="5%" fxLayout.xs="column">
        <div style="margin-top: 15px">
          <mat-form-field floatLabel="auto" appearance="outline">
            <mat-label>Ф.И.О.</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="name" required/>
            <mat-error *ngIf="form.controls.name.errors?.required">Введите имя</mat-error>
            <mat-error *ngIf="form.controls.name.errors?.minlength">Не менее 3 символов</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-label>Должность</mat-label>
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-select formControlName="position" [compareWith]="objectComparisonFunction" required>
              <mat-option *ngFor="let position of positions" [value]="position">
                {{position.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.position.invalid">Выберите должность</mat-error>
          </mat-form-field>
        </div>
      <div fxFlex="30%" fxFlexOrder.xs="2">
        <mat-label>Роль</mat-label>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-select formControlName="authorities" [compareWith]="objectComparisonFunction" required>
            <mat-option *ngFor="let authority of authorities" [value]="authority">
              {{authority.role}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.authorities.invalid">Выберите роль</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap.xs="5%" fxLayout.xs="column" *ngIf="isPasswordFormVisible">
      <div fxFlex="30%">
        <mat-form-field floatLabel="auto" appearance="outline">
          <mat-label>Пароль</mat-label>
          <input matInput type="password" autocomplete="off" formControlName="password"/>
          <mat-error *ngIf="form.controls.password.invalid">Не менее 6 символов</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="30%">
        <mat-form-field floatLabel="auto" appearance="outline">
          <mat-label>Повторите пароль</mat-label>
          <input matInput type="password" autocomplete="off" formControlName="passwordConfirmation"/>
          <mat-error *ngIf="form.controls.passwordConfirmation.invalid">Пароли не совпадают</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end" style="margin-bottom: 10px">
      <button mat-button type="button" (click)="deleteUser()" color="warn" [disabled]="isDeleteDisabled()">Удалить</button>
      <button mat-button type="button" (click)="openChangePasswordForm()">Сменить пароль</button>
      <button mat-button type="button" (click)="onNoClick()">Отмена</button>
      <button mat-button type="submit" [disabled]="isSubmitDisabled()">Ok</button>
    </div>
  </div>
</form>
