<h2>Приборы</h2>

<div class="mat-elevation-z8 container" fxLayout="column" style="margin-bottom: 30px">
  <div style="overflow-x: auto">
    <table mat-table [dataSource]="dataSource" style="width: 100%" matSort>
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef><span style="margin-left: 20px">№</span></th>
        <td mat-cell *matCellDef="let device; let j = index"><button mat-mini-fab style="margin-right: 1rem" (click)="openDialog(device)"><mat-icon>edit</mat-icon></button> {{j + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
        <td mat-cell *matCellDef="let device"> {{device.name}} </td>
      </ng-container>

      <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Серийный номер</th>
        <td mat-cell *matCellDef="let device"> {{device.serialNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="verificationExpire">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Окончание срока поверки</th>
        <td mat-cell *matCellDef="let device"> {{device.verificationExpire | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div style="text-align: center"><button mat-mini-fab style="margin-top: 20px" color="primary" (click)="openDialog(null)"><mat-icon>add</mat-icon></button></div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
