<h2>Журнал</h2>

<div class="mat-elevation-z8 container" fxLayout="column" style="width: 100%">
  <form fxLayout="row" fxLayout.xs="column" fxLayoutGap="5%" fxLayoutAlign="center" style="padding-bottom: 1rem;" [formGroup]="form" (ngSubmit)="submit()">
    <div fxLayoutAlign="start" fxFlex="20%">
      <mat-form-field appearance="fill" class="example-form-field" style="width: 100%">
        <mat-label>Дата регистрации</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input matStartDate placeholder="с" formControlName="startDate">
          <input matEndDate placeholder="по" formControlName="endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Отмена</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>Применить</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
    </div>
    <div fxFlex="20%">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Сотрудник</mat-label>
        <mat-select formControlName="employee">
          <mat-option *ngFor="let employee of employees" [value]="employee.id">
            {{employee.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="20%">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Прибор</mat-label>
        <mat-select formControlName="device">
          <mat-option *ngFor="let device of devices" [value]="device.id">
            {{device.name}} {{device.serialNumber}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="end center" fxFlex="30%" fxLayoutGap="5px" style="padding-bottom: 1rem"><button mat-raised-button color="primary" style="float: right; width: 100%" type="submit">Применить</button>
      <button mat-raised-button color="primary" style="float: right; width: 100%" type="button" (click)="resetForm()">Сбросить</button></div>


  </form>
  <div style="overflow-x: auto">
    <table mat-table [dataSource]="dataSource" style="width: 100%" matSort>
      <ng-container matColumnDef="taken">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="margin-left: 20px">Дата регистрации</span></th>
        <td mat-cell *matCellDef="let record"><button mat-mini-fab style="margin-right: 1rem" (click)="openDialog(record)"><mat-icon>edit</mat-icon></button> {{record.taken | date: 'short' }} </td>
      </ng-container>

      <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Сотрудник </th>
        <td mat-cell *matCellDef="let record"> {{record.employee.name}} </td>
      </ng-container>

      <ng-container matColumnDef="deviceName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Название прибора</th>
        <td mat-cell *matCellDef="let record"> {{record.device.name}} </td>
      </ng-container>

      <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Серийный номер</th>
        <td mat-cell *matCellDef="let record"> {{record.device.serialNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="returned">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Возвращено</th>
        <td mat-cell *matCellDef="let record"> {{record.returned != null ? (record.returned | date: 'short') : ""}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div style="text-align: center"><button mat-mini-fab style="margin-top: 20px" color="primary" (click)="openDialog(null)"><mat-icon>add</mat-icon></button></div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>










