<h1 mat-dialog-title>{{data == null ? 'Новый прибор' : 'Редактировать прибор'}}</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-content fxLayout="row" fxLayoutGap="5%" fxLayout.xs="column" fxLayoutAlign="space-around">
    <div fxFlex="30%">
      <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Название</mat-label>
        <input matInput type="text" autocomplete="off" formControlName="name"/>
      </mat-form-field>
    </div>
    <div fxFlex="30%">
      <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Серийный номер</mat-label>
        <input matInput type="text" autocomplete="off" formControlName="serialNumber"/>
      </mat-form-field>
    </div>
    <div fxFlex="30%">
      <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Окончание срока поверки</mat-label>
        <input matInput type="datetime-local" autocomplete="off" formControlName="verificationExpire"/>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button mat-dialog-close type="submit">Ok</button>
  </div>
</form>
