table {
  width: 100%
}
.container {
  margin-top: 2rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  alignment: center;
}

.mat-column-actions {
  margin-right: 10px;
}

.mat-column-id {
  padding-left: 10px;
}

.hidden {
  display: none;
}
