<mat-toolbar color="primary">
  <span style="padding-right: 10px">
  <mat-menu #appMenu = "matMenu">
    <button mat-menu-item routerLink="home"><a>Главная</a></button>
    <button mat-menu-item routerLink="journal">Журнал</button>
    <button mat-menu-item routerLink="overview" *ngIf="authService.isAdmin()">Обзор</button>
    <button mat-menu-item routerLink="settings" *ngIf="authService.isAdmin()">Настройки</button>
  </mat-menu>
  <button mat-mini-fab [mat-menu-trigger-for]="appMenu" color="white">
    <mat-icon>menu</mat-icon>
  </button>
  </span>
  <span>MDTracker</span>
  <span class="example-spacer"></span>
  <div style="padding-right: 1rem; margin-left: 1rem; font-size: small; max-width: 200px">
    {{getName()}}
  </div>
  <button mat-flat-button (click)="authService.logout()">
    Выйти
  </button>


</mat-toolbar>
