<div>
  <mat-card>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Приборы</mat-label>
        <mat-select [formControl]="devices" multiple>
          <mat-select-trigger>
            {{devices.value ? devices.value[0].name : ''}}
            <span *ngIf="devices.value?.length > 1" class="example-additional-selection">
        (+{{devices.value.length - 1}} {{devices.value?.length === 2 ? 'other' : 'others'}})
      </span>
          </mat-select-trigger>
          <mat-option *ngFor="let device of deviceList" [value]="device">{{device.name}} {{device.serialNumber}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions >
        <div><button mat-flat-button color="primary" class="button">Добавить</button></div>
        <div><button mat-flat-button color="primary" class="button">Сканировать QR-код</button></div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
